h1, h2, h3, h4, h5, h6, h7
{
font-weight: normal;
}

.trends__nav{
    height: 80px;
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
}

.trends__nav__logo{
margin-top: 20px;
}

.trends__nav__list{
    display: flex;
    margin-left: 200px;
}


.trends__nav__list > div{
    display: flex;
    /* border:  1px solid red; */
    margin: 30px 20px;
    height: 30px;
    width: 50px;
    color: orangered;
    font-size: 20px;
}

/* <!---------------------- the below one is the body part of trends ------------------------> */

.trends__body{
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0px auto;
}

.trends__body__1{
    display: flex;
    height: 140px;
    width: 1200px;
    margin: 0px auto;
    border: 1px solid green;
    margin-top: 10px;
    border: 1px solid #e0e0dc;
    padding: 10px;
    box-shadow: 2px 2px whitesmoke;
    margin-bottom: 10px;
}

.trends__body__img{
    margin: 20px;
}

.trends__button{
    height: 30px;
    background-color: #67ac5b;
    margin: 40px;
    width: 200px;
    color: white;
}

.trends__para{
    margin: 20px;
    margin-left: 100px;
    /* border: 1px solid red; */
    font-size: 20px;
}

.trends__body__3{
    height: 100px;
    /* border: 1px solid red; */
    width: 1200px;
    margin: 0px auto;
}

.mange__charts{
    position: relative;
    left: 1000px;
    top: 60px;
    color: orangered;
    font-size: 20px;
}

.trends__graph{
    height: 750px;
    width: 1200px;
    margin: 10px auto;
    border: 1px solid #e0e0dc;
}

.trends__graph__1{
    height: 100px;
    /* border: 1px solid red; */
    display: flex;
}

.inner__div{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}

.inner__div__1{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 13px;
}


.trends__dropdown{
    width: 200px;
    height: 25px;
}

.trends__empty{
    /* border: 1px solid red; */
    height: 100px;
    width: 300px;
    margin-left: 30px;
}

.dropdown__box1{
    margin: 30px;
    margin-left: 60px;
}


.dropdown__box2{
    height: 25px;
    margin: 30px;
    margin-left: 30px;
}

.dropdown__box3{
    height: 25px;
    margin: 30px;
    margin-left: 60px;
}

.trends__empty__1{
   
    margin: 30px;
    margin-left: 30px;
}

.gwt-ListBox{
    height: 25px;
}



/* <!---------------------- dynamic elements card effects ------------------------> */

.img__card{
    visibility: hidden;
    width: 640px;
    height: 220px;
    border: 1px solid grey;
    position: absolute;
    z-index: 1;
    top: 80px;
    left: 20px;
    background-color: white;
}

.img__card > div{
    width: 300px;
    height: 200px;
    border: 1px solid orangered  ;
    float: left;
    margin: 10px 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.img__card > div:hover{
  
    border: 1px solid ;
    
}

.inline{
    font-size: 20px;
}

.outer{
    background-color:  #ffffff;
}
/* .dropdown__img{
    position: relative;
} */



/* Footer starts here */

.footer-container {
    margin: 60px auto 0;
    width: 100%;
}

.footer-nav {
    margin: 20px auto;
    width: 100%;
   
}
.footer-nav ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer-nav ul li {
    display: inline block; 
}
.footer-nav ul li a{
    font-weight: 600;
    color: #4F4E53;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    text-decoration: none;
    padding: 2px 20px;
}
.orange-dot {
    background: #FF763F;
    border-radius: 50%;
    height: 6px;
    width: 6px;
    margin: 0 0 2px 0;
}
.footer-container-gray {
    width: 100%;
    background: #4F4E53;
    padding: 30px 0 60px;
}

.footer-left {
    width: 30%;
    float: left;
}

.footer-middle {
    width: 40%;
    float: left;
    text-align: center;
    color: #fff;
    font-size: 10px;
}
.footer-middle a {
    color: #fff;
    text-decoration: none;
}
.footer-right {
    width: 30%;
    float: left;
}

.links-container {
    text-align: right;
    margin: 15px 30px 0 0;
}

.facebook {
    background-image: url(https://cdn1.cronometer.com/logos/icon-facebook-white.png);
    background-size: cover;
    width: 25px;
    height: 25px;
}
.twitter {
    background-image: url(https://cdn1.cronometer.com/logos/icon-twitter-white.png);
    background-size: cover;
    width: 25px;
    height: 25px;
}
.instagram {
    background-image: url(https://cdn1.cronometer.com/logos/icon-instagram-white.png);
    background-size: cover;
    width: 25px;
    height: 25px;
}
.youtube {
    background-image: url(https://cdn1.cronometer.com/logos/icon-youtube-white.png);
    background-size: cover;
    width: 25px;
    height: 25px;
}
.links{
    display: inline-block;
    margin: 0 10px 0 0;
}
.footer-container-gray::after{
    content: "";
    display: table;
    clear: both;
}
.support_button {
    background-color: #27ae60 !important;
    color: #ffffff !important;
    fill: #ffffff !important;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    padding: 15px 20px 15px 20px;
    position: fixed;
    top: 90%;
    left: 5%;
    transform: translate(-50%, -40%);
    z-index: 1;
}