
*{
    font-family: 'Open Sans', sans-serif;
}
.app__body{
    font-family: 'Open Sans', sans-serif;
}

.app__nav{
    /* border: 1px solid red; */
    height: 130px;
    display: flex;
    margin: 0px;
}
.app__nav__img{
    height: 50px;
    margin: 40px 100px;
}

.app__nav__item{
    display: flex;
    margin: 40px 20px;
    margin-left: 100px;
    /* border: 1px solid red; */
}

.app__nav__item > div{
    display: flex;
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
}

.app__nav__item > div:hover{
   color: orangered;
   /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.34); */
}

.app__nav__login{
    height: 20px;
    width: 150px;
    text-align: center;
    border: 1px solid orangered;
    border-radius: 10px;
    padding: 10px 0px;
    margin: 50px 0px;
    color: orangered;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.34)  -2px -2px -4px 0;
}

.app__nav__login a{
    text-decoration: none;
    color: orangered;
}
 


/* <!---------------------- the below block is about body of cronometer ---------------------------> */


.app__body{
    height: 850px;
    /* border: 1px solid green;  */
    background-image: linear-gradient(180deg, #ff9751, #ff763f);
}

.app__body div:nth-child(1){
    height: 50px;
    /* border: 1px solid green;  */
    text-align: center;
    font-size: 40px;
    margin: 10px;
    color: white;
    font-weight: 800;
}

.app__body div:nth-child(2){
    height: 50px;
    /* border: 1px solid green;  */
    text-align: center;
    margin: 10px;
    color: white;
    font-weight: 800;
    font-size: 20px;
}

.app__body div:nth-child(3){
    height: 20px;
    width: 200px;
    border: 1px solid green; 
    text-align: center;
    margin: 10px auto;
    color: white;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: #5da151;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.34);
}

.app__body__img{
    height: 530px;
    width: 1000px;
    display: block;
    margin: 20px auto;
}

/* <!---------------------- the below block is about body***1** of cronometer ---------------------------> */

.app__body__1{
    text-align: center;
    /* border: 1px solid violet; */
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 10px;
    height: 250px;
   
  
}

.app__body__1 > div:nth-child(2),.app__body__1 > div:nth-child(3){
    font-size: 16px;
    line-height: 22px;
}


/* <!---------------------- the below block is about body***2*** of cronometer ---------------------------> */

.app__body__2__img{
    display: flex;
    margin: 1px auto;
    /* border: 1px solid red; */
    background-color: #f8f8f8;
}


.app__body__2__img > div{
    height: 250px;
    width: 300px;
    /* border: 1px solid springgreen; */
    margin: 2px;
    /* margin-left: 100px; */  
}
.app__body__2__img > div:nth-child(1){
    margin-left: 200px;  
}

.text-block---features-1 {
    margin-bottom: 0px;
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    text-align: center;
}

.icon---features-1{
    display: block;
    width: 125px;
    margin: 0px auto;
}




/* <!---------------------- the below block is about body***3*** of cronometer ---------------------------> */

.app__body__3{
    display: flex;
}

.app__body__3 > div:nth-child(1){
 
    /* border: 1px solid red; */
    width: 600px;
    height: 600px;
    margin-left: 100px;
}
.app__body__3 > div:nth-child(2){
 
    /* border: 1px solid green; */
    width: 600px;
    height: 600px;
}
.img__mobile{
    display: block;
    margin: 50px auto;
}

.mobile__div{
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
}

.app__body__3__left{
    margin-top: 60px;
}


.mobile__div__1{
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    color: #5c5c5c;
    line-height: 30px;
    margin-top: 40px;
    font-weight: 600;
    
}

.logos{
    display: flex;
    margin: 60px 10px;
    /* border: blue 1px solid; */
}

/* <!---------------------- the below block is about body***4*** of cronometer ---------------------------> */

.app__body__4{
 display: flex;
 /* border: 1px solid red; */
 background-color: #f8f8f8;
}

.app__body__4__left{
    width: 600px;
    height: 500px;
    /* border: 1px solid green; */
    margin-left: 100px;
    color: #5c5c5c;
    font-weight: 600;
    
}


.app__body__4__left > h1 {
   margin: 20px 0px 0px 100px;
}

.app__body__4__left > ol {
    margin: 20px 0px 0px 100px;
    font-size: 16px;
    line-height: 40px;
    font-family: sans-serif;
    color: #5c5c5c;
 }

 .app__body__4__right > img{
    display: block;
    margin: 100px 0px 0px 50px;
 
 }


 /* <!---------------------- the below block is about body affliate of cronometer ---------------------------> */

 .affliate{
        height: 300px;
        /* border: 1px solid goldenrod; */
 }

 .border{
     height: 100px;
     width: 800px;
     border-bottom: 1px solid grey;
     margin: 1px auto;
 }

 .affliate > h2{
    color: #5c5c5c;
    text-align: center;
}

.button__affiliate{
    color: orangered;
    border: 2px orangered solid;
    border-radius: 10px;
    padding: 10px;
    height: 20px;
    width: 200px;
    margin: 10px auto;
    text-align: center;
}


 /* <!---------------------- the below block is about footer of cronometer ---------------------------> */
 .app__footer{
     height: 700px;
     background-color: #4f4e53;
     border: 1px solid white;
 }
 .app__footer__1{
     text-align: center ;
     font-size: 30px;
     color: white;
     /* border: 1px solid red; */
     margin-top: 60px;
 }
 .icons__box{
     display: flex;
     /* border: 1px solid red; */
     margin: 0px auto;
     align-items: center;
     justify-content: center;
 }

 .icons__box > img:hover{
     color: orangered;
 }

 .icons__box > div {
    margin: 10px;
   
}

.icons__box > div > img{
    height: 50px;
    width: 50px;
    display: block;
    margin: 0px auto;
}

.google-play-logo {
    width: 150px;
    max-width: 100%;
    margin-left: 10px;
}

.apple-ios-logo{
    width: 150px;
    max-width: 100%;
    margin-left: 10px;
}

.foot__logos{
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty__border{
   border-bottom: 1px solid white;
   height: 50px;
   width: 1000px;
   margin: 0px auto;
}

.app__footer__last{
    /* border: 1px solid red; */
    width: 1000px;
    height: 300px;
    margin-top: 20px;
    margin: 50px auto;
    display: flex;
    color: white;
    line-height: 20px;
   
}

.app__footer__last > div:nth-child(1){
    margin-right: 50px;

}
.footerin{
    width: 250px;
    /* border: 1px solid white; */
    font-size: 18px;
}



.abc{
    font-weight: 1000;
}